

#Eclipse
*.class
RPG_Server/JServer/.metadata/
RPG_Server/JServer/JRPGServer_JG/bin/
RPG_Server/JWorkSpace/.metadata/
RPG_Server/JWorkSpace/.recommenders/
*.json
*.recommenders/

#Unity
Temp/
obj/
Library/
Request/
RPG_Server/JWorkSpace/JServer/src/jg/rpg
*.csproj
*.unityproj
*.sln
*.swp
*.swo
*.suo
