<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="CounterReceiver" type="ExitGames.Diagnostics.Rrd.Configuration.RrdCounterDataReceiverSection, ExitGames.Diagnostics.Rrd"/>
  </configSections>

  <appSettings>
    <add key="ImagePath" value="Images"/>
    <add key="ImageUpdateInterval" value="10"/>
    <add key="WebIp" value="127.0.0.1"/>
    <add key="WebPort" value="8088"/>
    <add key="GraphConfig" value="GraphTemplates.xml"/>
  </appSettings>

  <CounterReceiver>
    
    <endpoints>
      <add  address="0.0.0.0" port="40001" protocol="udp"/>
    </endpoints>

    <!--<senders>
      <add address="(local)" />
      <add address="ComputerName" />
      <add address="192.168.1.1" />
    </senders>-->
    
    <rrdSettings basePath="PerfData">
      <dataSources>
        <add name="GAUGE" type="GAUGE" heartbeat="5"/>
        <add name="COUNTER" type="COUNTER" heartbeat="5"/>
      </dataSources>
      <archives>
        <!-- one second step for one hour (3600 seconds)-->
        <add name="Hours" function="AVERAGE" steps="1" rows="3600"/>        
        <!-- one minute steps for the last day (1140 minutes)-->
        <add name="Day" function="AVERAGE" steps="60" rows="1440"/>        
        <!-- 5 minute interval for the last week -->
        <add name="Week" function="AVERAGE" steps="300" rows="2016"/>
        <!-- 1 hour interval for the last year -->
        <add name="Year" function="AVERAGE" steps="3600" rows="8760"/>
      </archives>
    </rrdSettings>
  
  </CounterReceiver>

<startup>
</startup>

</configuration>
